button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 30px;
    color:pink;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}
#increment-btn {
    align-content: center;
    background: darkgoldenrod;
}

#save-btn {
    align-content: center;
    background: darkgreen;
}

#next-btn {
    align-content: center;
    background: darkorange;
}

#clear-btn {
    align-content: center;
    background: rgb(189, 107, 147);
}

#butt {
    align-content: center;
    background: darkorange;
}

h1{
    color: red;
  
}

h2{
    background-color: blueviolet;
    color: pink;
}

p {
    color:brown;
    font-size: 30px;
}


body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-image: url("calll.jpg");
  background-color: rgb(47, 210, 255); 
  text-align: center;
}

#resultel {
    background-color: blanchedalmond;
    font-weight: bold;
    color: brown;
    border-width: 5px;
   
}
